/* 修改滚动条样式 */
::-webkit-scrollbar {
  /* 滚动条整体部分 */
  width: 6px;
  margin-right: 2px
}

::-webkit-scrollbar-button {
  height: 2px;
  background-color: #eee;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
  margin-bottom: 2px;
}

::-webkit-scrollbar-thumb {
  /* 滑块 */
  width: 6px;
  background: #ddd;
  border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
  /* 鼠标移入滑块 */
  background: #cbcbcb;
}